@use 'node_modules/@angular/material' as mat;
@use 'colors';

$mst-black-primary: mat.define-palette(colors.$mst-dark);
$mst-black-accent: mat.define-palette(colors.$mst-orange);
$mst-black-warn: mat.define-palette(mat.$red-palette, A200);

@function create-theme($typography-config: null) {
  @return mat.define-light-theme((
    color: (
      primary: $mst-black-primary,
      accent: $mst-black-accent,
      warn: $mst-black-warn,
    ),
    typography: $typography-config
  ));
}

@mixin mst-black-mixin() {
  .mat-button,
  .mat-raised-button,
  .mat-flat-button,
  .mat-stroked-button,
  .mat-icon-button,
  .mat-fab,
  .mat-mini-fab {
    text-transform: uppercase;
  }
}
