@use 'node_modules/@angular/material' as mat;
@use 'colors';

$mst-orange-primary: mat.define-palette(colors.$mst-orange);
$mst-orange-accent: mat.define-palette(colors.$mst-dark);
$mst-orange-warn: mat.define-palette(mat.$red-palette, 700);

@function create-theme($typography-config: null) {
  @return mat.define-light-theme((
    color: (
      primary: $mst-orange-primary,
      accent: $mst-orange-accent,
      warn: $mst-orange-warn,
    ),
    typography: $typography-config
  ));
}

@mixin mst-orange-mixin() {
  .mat-button,
  .mat-raised-button,
  .mat-flat-button,
  .mat-stroked-button,
  .mat-icon-button,
  .mat-fab,
  .mat-mini-fab {
    text-transform: uppercase;
  }
}
