@use 'node_modules/@angular/material' as mat;
@use 'colors';

$pip-amber-primary: mat.define-palette(colors.$pip-orange);
$pip-amber-accent: mat.define-palette(colors.$pip-orange, A700, A100, A400);
$pip-amber-warn: mat.define-palette(mat.$red-palette, A200);

@function create-theme($typography-config: null) {
  @return mat.define-light-theme((
    color: (
      primary: $pip-amber-primary,
      accent: $pip-amber-accent,
      warn: $pip-amber-warn,
    ),
    typography: $typography-config
  ));
}
